In [1]:
import numpy as np
import os
import pandas as pd

In [2]:
os.chdir('../')

In [3]:
df_test = pd.read_csv('./data/processed/test.csv', sep = ';', decimal=',')

In [4]:
center_id = 55
meal_id = 1993

condition1 = df_test['center_id'] == center_id
condition2 = df_test['meal_id'] == meal_id

In [5]:
df = df_test[condition1 & condition2]

In [6]:
df.date = pd.date_range('2019-10-20', periods=len(df), freq='W')

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:5159: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [7]:
df = df.set_index('date')

In [30]:
df.index

DatetimeIndex(['2019-10-20', '2019-10-27', '2019-11-03', '2019-11-10',
               '2019-11-17', '2019-11-24', '2019-12-01', '2019-12-08',
               '2019-12-15', '2019-12-22'],
              dtype='datetime64[ns]', name='date', freq=None)

In [8]:
import datetime as dt

In [9]:
for i, row in df.iterrows():
	index_date = i.date()
	print(index_date)

2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22

In [10]:
for i, row in df.iterrows():
	index_date = i.date()
	print(str(index_date) + ': ' + str(row[0]))

2019-10-20: 1127204
2019-10-27: 1454285
2019-11-03: 1230213
2019-11-10: 1216199
2019-11-17: 1338024
2019-11-24: 1316220
2019-12-01: 1261077
2019-12-08: 1499021
2019-12-15: 1384202
2019-12-22: 1327954

In [11]:
lista = ["1127204",
"1454285",
"1230213",
"1216199",
"1338024",
"1316220",
"1261077",
"1499021",
"1384202",
"1327954"]

In [12]:
lista

['1127204',
 '1454285',
 '1230213',
 '1216199',
 '1338024',
 '1316220',
 '1261077',
 '1499021',
 '1384202',
 '1327954']

In [43]:
df_result = pd.DataFrame({"results" : lista})

In [44]:
df_result.index = df.index

In [45]:
df_result

            results
date
2019-10-20  1127204
2019-10-27  1454285
2019-11-03  1230213
2019-11-10  1216199
2019-11-17  1338024
2019-11-24  1316220
2019-12-01  1261077
2019-12-08  1499021
2019-12-15  1384202
2019-12-22  1327954

In [46]:
df_result.reset_index(inplace=True)

In [47]:
df_result

        date  results
0 2019-10-20  1127204
1 2019-10-27  1454285
2 2019-11-03  1230213
3 2019-11-10  1216199
4 2019-11-17  1338024
5 2019-11-24  1316220
6 2019-12-01  1261077
7 2019-12-08  1499021
8 2019-12-15  1384202
9 2019-12-22  1327954

In [48]:
test = df_result.to_json()

In [49]:
test

'{"date":{"0":1571529600000,"1":1572134400000,"2":1572739200000,"3":1573344000000,"4":1573948800000,"5":1574553600000,"6":1575158400000,"7":1575763200000,"8":1576368000000,"9":1576972800000},"results":{"0":"1127204","1":"1454285","2":"1230213","3":"1216199","4":"1338024","5":"1316220","6":"1261077","7":"1499021","8":"1384202","9":"1327954"}}'

In [52]:
for i in range(0, len(df.index)):
	print(i)

0
1
2
3
4
5
6
7
8
9

In [53]:
lista

['1127204',
 '1454285',
 '1230213',
 '1216199',
 '1338024',
 '1316220',
 '1261077',
 '1499021',
 '1384202',
 '1327954']

In [56]:
df_result.to_json()

'{"date":{"0":1571529600000,"1":1572134400000,"2":1572739200000,"3":1573344000000,"4":1573948800000,"5":1574553600000,"6":1575158400000,"7":1575763200000,"8":1576368000000,"9":1576972800000},"results":{"0":"1127204","1":"1454285","2":"1230213","3":"1216199","4":"1338024","5":"1316220","6":"1261077","7":"1499021","8":"1384202","9":"1327954"}}'